@{
    ViewData["Title"] = "Home Page";
}


    <h1>Vid of the Day</h1>
<div id="fun_vid">
       <<iframe width="560" height="315" src="https://www.youtube.com/embed/XFHUwSwjrug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <br />
<p>
    <button onclick="myMove()">MOVE ME!!</button>
</p>
<div id="anibox">
    <div id="myanimate"></div>
</div>